body{
    background-color: #63b1fc;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
a {
    transition: all 0.8s;
}
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
#mainNav{
    background-color: rgba(4, 4, 4, 0.74);

}
.navbar-default{
    text-transform: uppercase;
    padding-left:30px;
    padding-right:30px;
}
.navbar-default .navbar-header .navbar-brand,
.navbar-default .nav li a{
    color: white;
}
.navbar-toggle{
    color: #eaeaea;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .nav li a:hover{
    color: #aaaaaa;
}
.btn {
    padding:15px;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;background-color: rgba(0, 0, 0, 0.64);
}


.slide1,
.slide2,
.slide3,
.slide4{
    background-image: url("../images/car1.jpeg");
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

}

.slide2{
    background-image: url("../images/car2.jpg");
}

.slide3{
    background-image: url("../images/car3.jpg");
}
.slide4{
    background-image: url("../images/car4.jpg");
}
#section-primary{
    padding:50px;
    background-color: #a65498;
}

hr {
    border-color: #ffffff;
    border-width: 3px;
    max-width: 50px;
}
hr.opposite{
    border-color: #e10db3;
}
.btn-sm:hover,
.btn-xl:hover {
    background-color: black;
}


.first{
    padding:60px;
    background-color: #d894c8;
}
.thumbnail{
    padding:20px;
}
.thumbnail img{
    border-radius: 10px;
}
.thumbnail .caption h3{
    text-align: center;
}
.first .btn{
    position: relative;
    margin-left:30px;
}
.first .btn:hover{
     background-color: black;


 }

.thumbnail {
  background-color: rgba(234, 234, 234, 0.98);
}
.services{
    background-color: #aeaeae;

}

.service-box{
    width: 100%;
    height: 320px;
    margin: 80px 0;
    text-align: center;
    border: 1px solid #ddd;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.service-box .fa{
    position: relative;
    top: 100px;
    font-size: 60px;
    color: #e10db3;
}

.service-box .heading {
    display: block;
    position: relative;
    top: 100px;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.service-box .description{
    opacity: 0;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.service-box:hover{
    border:1px solid #e10db3;
    background-image: url("../images/catering.jpg");
    background-size: cover;

}
 .s2:hover {
    background-image: url("../images/festival.jpg");
}
 .s3:hover{
     background-image: url("../images/tasting.jpg");
 }
.service-box:hover .fa{
    top:-60px;
}


.service-box:hover .heading{
    top:1px;
    text-transform: uppercase;
    font-weight: bold;
    background-color:rgba(198, 102, 194, 0.67);
    color: black;

}
.service-box:hover .description{
    opacity:1;
    color: #000;
    font-size:20px;
    background-color: rgba(198, 102, 194, 0.67);
}
.pricing{
    padding-bottom:220px;
    background-color: #d894c8;
}
.row-header{
    text-align: center;
    margin:40px;
}
.plan-box{
    background-color: #eca8dc;
    box-shadow: 2px 2px 2px   #898989;
    width:90%;
    height:450px;
    text-align: center;
    margin:0 auto;
}
.plan-box h3{

    padding: 30px;
}

.plan-box ul{
    margin:30px;
}
.plan-box ul li{
    padding:5px;
}
.plan-box .btn{
    background-color:#e10db3 ;
    color: #000;
}
.plan-box .btn:hover{
   box-shadow: #0b0b0b 2px 2px 2px;
    color: #eaeaea;
}
.sec1{
  position: relative;

    background-color: #aeaeae;
    padding:0px 0;

}
.sec1:before{
position: absolute;
    content: '';
    width:100%;
    height:255px;
    top: -182px;
    left:0;
    background: inherit;
    transform-origin: bottom-left;
    transform: skewY(3deg);
    z-index: 1;
    overflow: hidden;

}


.footer-bs {
    margin-top:-30px;
    background-color: #3c3d41;
    color: rgba(255,255,255,1.00);
    margin: 30px;
    margin-top:100px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;

}
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    padding:15px 25px;
    height:210px;
}

.footer-bs .footer-nav,
.footer-bs .footer-social{
    border-right: 1px solid black;
}



.footer-bs .footer-nav h4,
.footer-bs .footer-social h4,
.footer-bs .footer-ns h4
{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom:30px;
}


.footer-bs .footer-nav ul.list {
 list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li {
    padding:5px 0px;}
.footer-bs .footer-nav ul.list a {
    color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover {
    color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul {
    list-style:none; padding:0px;  }


.footer-bs .footer-social li {
    padding:5px 4px;}
.footer-bs .footer-social a {
    color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover {
    color:rgba(255,255,255,0.80); text-decoration:none; }



.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70);margin-bottom: 30px; }

.me{
    text-align: center;
}
.me a{
    text-decoration: none;
    color: #424242;

}
.me a:hover{
    font-weight:700;
}




@media (max-width: 1000px) {
   .footer-bs .footer-nav,
.footer-bs .footer-social{
    border-right: none;
}
}













.carousel-inner .item img{
    height:500px;
}
